{% extends 'base.html.twig' %}

{% block title %}Contrat de Partenaiat!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div id="cadre">
   <center><h1>CONVENTION DE PARTENARIAT </h1></center>

<style>

#cadre{width:600px; height:100px;background :#FFA07A;border:solid 1px  black;

border-radius:5px;}
</style> </div>
<h2> Entre les soussignés : </h2>
<p> Entre d'une part l'association --------------------------------------------------------- sise ------------------------------------------
     Et d'autre part le partenaire :--- -----------------------------------------------------sise ------------------------------------------<br/>
     Il a été convenu et arrêté ce qui suit :</p>
     <h2>I - OBJET DE LA CONVENTION</h2>
 <p>  Cette convention est destinée à régir, de la manière la plus complète possible, la relation de partenariat conclue entre l'association et le partenaire, en vue principalement de [préciser l'objet du partenariat]
Elle précise de façon non exhaustive les droits et les obligations principaux des deux cocontractants, étant entendu que ceux-ci peuvent évoluer au fil du temps ; l’objectif principal étant que le partenariat qui unit les deux parties se développe au maximum et dans le sens des intérêts de chacun.
 </p>
 <h2>II - OBLIGATIONS DE L'ASSOCIATION</h2>
 <p>D’une manière générale, l'association s’engage à vous créer un compte. Pour ce faire, l'association mettra à disposition au partenaire : un administrateur qui va gerer la sécuité de votre compte.</p>
 <h2>III - OBLIGATIONS DU PARTENAIRE</h2>
 <p>Le partenaire s’engage en contrepartie à mettre à  verser à l'association le montant suivant, en vue de la réalisation de l’objet de la convention : [montant en toutes lettres]. La paiement du montant sera fera selon les conditions suivantes : [préciser].
  En outre, il s’engage également à [préciser]</p>
  <h2> VI - DUREE DE LA CONVENTION</h2>
  <p>Le présent partenariat conclu entre 'association et partenaire débutera le --------------------  et s’achèvera de plein droit et sans formalité le ---------------------. </p>
  <h2>V - RESILIATION</h2>
  <p>Chacune des parties pourra  résilier la convention, de plein droit, à tout moment et sans préavis, au cas où l’autre partie manquerait gravement à ses obligations contractuelles. Cette résiliation devra être précédée d’une mise en demeure par lettre recommandée restée sans effet durant 30 jours calendaires. </p>
  <h2>VI - MODIFICATIONS</h2>
  <p> A la demande de l’une ou l’autre partie, des modifications pourront être apportées à la présente convention moyennant accord écrit entre les parties. Ces modifications seront considérées comme étant des modalités complémentaires de la présente convention et en feront partie intégrante.</p>
  <h2>VII - CONFIDENTIALITE</h2>
  <p>Chacune des parties s’engage à considérer les dispositions de la présente convention comme étant confidentielles et à ne pas les communiquer à des tiers sans l’accord exprès et écrit de l’autre partie.</p>
  <h2>VIII - LITIGES</h2>
  <p>Les deux parties s’engagent à régler à l’amiable tout différend éventuel qui pourrait résulter de la présente convention. En cas d’échec, les tribunaux de [ville] seront seuls compétents.</p>
  <p>Fait à Dakar le ------- -------------------<br/> 
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; wari  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  le Partenaire</p>




{% endblock %}
